/**
Palette: https://scrimba.com/links/hometown-palette
GRAY BLUE: #455363
DARK BLUE: #2B426E
TAN: #fff9de
LIGHT GOLD: #DECB7E
DARK GOLD/BRONZE: #947A3D
*/
html {
    margin: 0;
}

body {
    font-family: 'MedievalSharp', cursive;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
}

img {
    width: 200px;
    border-radius: 50%;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-image: url("images/stormwind.jpg");
    height: 500px;
    margin: 0;
    
}

#hero-title {
    background: #2B426E;
    color: #dec87e;
    text-shadow: 3px 3px black;
    border: 3px solid #fff9de;
    border-radius: 10px;
    margin-top: 100px;
    padding: 10px 20px;
}

#hero-caption {
    background: #455363;
    color: #dec87e;
    text-shadow: 3px 3px black;
    border: 2px solid #fff9de;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 20px;
}

h1,
h2 {
    margin: 0;
}

#activity-container {
    background: #455363;
    color: #fff9de;
    text-shadow: 2px 2px black;
    padding-top: 40px;
    border-top: 2px solid #fff9de;
    border-bottom: 2px solid #fff9de;
}

/* ACTIVITY SECTION */

#activity-title {
    margin: 0;
}

.activity-main {
    display: flex;
    justify-content: center;
}

.activity-col {
    width: 300px;
    margin: 0 80px;
    padding: 40px 0 30px;
}

/* GUIDE SECTION */

#guide-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #455363;
    color: black;
    margin: 40px auto;
    padding: 10px;
    border: 3px solid #dec87e;
    width: 500px;
    height: 200px;
}

#guide-text {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    color: #fff9de;
    text-shadow: 3px 3px black;
}